@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.hero{
  position:relative;

  .menu{
    position:absolute;
    padding: 15px;

    img{
      width: 70%;
      height: auto;
    }
  }

  .hero-heading{
    position: absolute;
    color:#fff;
    top: 20%;
    left:10%;
    margin: 50px;
  
    .tagline{
      text-transform: uppercase;
      font-weight: 500;
      font-size: 25px;
    }

    p{
      width: 30%;
      @media only screen and (max-width: 960px) {
        width: 50%;
      }
      @media only screen and (max-width: 720px) {
        width: 100%;
      }
    }

    @media only screen and (max-width: 960px) {
      top: 10%;
      left: 5%;
    }

    @media only screen and (max-width: 720px) {
      top: 5%;
      left: 0;
    }

    @media only screen and (max-width: 480px) {
      display: none;
    }
  
  }

  img{
    max-width: 100%; 
    height: auto;
  }
  

}